[Unit]
Description=Ooler MQTT Bridge

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/ooler-mqtt-bridge /etc/%I
User=pi
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
